<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UserSetting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UserSetting.Properties.Settings>
            <setting name="mConnString" serializeAs="String">
                <value>Data Source=10.5.19.22 ;Initial Catalog=byd_ocv ;User ID=sa ;Password=123qweASD ;Integrated Security=no</value>
            </setting>
            <setting name="mLConnString" serializeAs="String">
              <value>Data Source=127.0.0.1 ;Initial Catalog=byd_ocv ;User ID=root ;Password=root ;charset=utf8 ;pooling=true</value>
            </setting>
        </UserSetting.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
