<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OCV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="OCV_DCR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OCV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OCV_DCR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="OCV.Properties.Settings.DatabaseIOConnectionString"
      connectionString="Data Source=|DataDirectory|\OCVTest\DatabaseIO.sdf"
      providerName="Microsoft.SqlServerCe.Client.4.0" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"  />
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <applicationSettings>
    <OCV.Properties.Settings>
      <setting name="DBPathzhongding" serializeAs="String">
        <value>Data Source=10.3.86.200;Initial Catalog=ASRS_WXZD_386;User ID=OCV;Password=QingTian,ocv1234;Integrated Security=no</value>
      </setting>
      <setting name="DBType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OCV_YL_WebService_index" serializeAs="String">
        <value>http://10.37.59.150:8090/index.asmx</value>
      </setting>
    </OCV.Properties.Settings>
    <OCV_DCR.Properties.Settings>
      <setting name="DBPathqingtian" serializeAs="String">
        <value>Data Source=192.168.56.150;Initial Catalog=BYD_DB_OCV;User ID=XCT;Password=XCT+000;Integrated Security=no</value>
      </setting>
      <setting name="OcvSleep" serializeAs="String">
        <value>460</value>
      </setting>
      <setting name="TempCOM" serializeAs="String">
        <value>COM4</value>
      </setting>
      <setting name="MMTCOM" serializeAs="String">
        <value>COM3</value>
      </setting>
      <setting name="ProOK" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ScanComm" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="local_ip" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="local_port" serializeAs="String">
        <value>7000</value>
      </setting>
      <setting name="client_port" serializeAs="String">
        <value>7100</value>
      </setting>
      <setting name="HistoryDataHour" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="OCV_Location" serializeAs="String">
        <value>000000000</value>
      </setting>
      <setting name="PCID" serializeAs="String">
        <value>O001</value>
      </setting>
      <setting name="DBPathzhongding" serializeAs="String">
        <value>Data Source=10.3.86.200,3433;Initial Catalog=ASRS_WXZD_386;User ID=OCV;Password=QingTian,ocv1234;Integrated Security=no</value>
      </setting>
      <setting name="DBType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="QinTianServerIP" serializeAs="String">
        <value>192.168.56.150</value>
      </setting>
      <setting name="ZhongDingServerIP" serializeAs="String">
        <value>192.168.1.23</value>
      </setting>
      <setting name="sExcelTempName" serializeAs="String">
        <value>Ocv_V_template</value>
      </setting>
      <setting name="sExcelTagName" serializeAs="String">
        <value>tableocv</value>
      </setting>
      <setting name="sExcelExtension" serializeAs="String">
        <value>xls</value>
      </setting>
      <setting name="sExcelTempName_shell" serializeAs="String">
        <value>Ocv_V1_template</value>
      </setting>
    </OCV_DCR.Properties.Settings>
  </applicationSettings>

  <userSettings>
    <OCV.Properties.Settings>
      <setting name="iAmountofdeceleration" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="iNormalSpeed" serializeAs="String">
        <value>1500</value>
      </setting>
      <setting name="iChangeSpeed" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="iNormalSpeed_hand" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="iScanSleep" serializeAs="String">
        <value>1800</value>
      </setting>
      <setting name="DBPathLoc" serializeAs="String">
        <value>Password=123;Persist Security Info=True;User ID=sa;
                Initial Catalog=QT_DB;Data Source=DCIR_5F</value>
      </setting>
      <setting name="ScanBaudrate" serializeAs="String">
        <value>115200</value>
      </setting>
      <setting name="ScanComm" serializeAs="String">
        <value>COM1</value>
      </setting>
    </OCV.Properties.Settings>
    <OCV_DCR.Properties.Settings>
      <setting name="EquipmentName" serializeAs="String">
        <value>OCV</value>
      </setting>
      <setting name="qtOcvType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="iAmountofdeceleration" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="iNormalSpeed" serializeAs="String">
        <value>1500</value>
      </setting>
      <setting name="iChangeSpeed" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="iNormalSpeed_hand" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="iScanSleep" serializeAs="String">
        <value>1800</value>
      </setting>
      <setting name="ScanBaudrate" serializeAs="String">
        <value>115200</value>
      </setting>
      <setting name="DBPathLoc" serializeAs="String">
        <value>Password=123;Persist Security Info=True;User ID=sa;
                Initial Catalog=QT_DB;Data Source=DCIR_5F</value>
      </setting>
      <setting name="OCVChannelType" serializeAs="String">
        <value>34</value>
      </setting>
    </OCV_DCR.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="ScanPort" value="COM12"/>
    <add key="GetBatCodeAPI" value="http://172.60.6.67:8092"/>
    <add key="CheckTrayAPI" value="http://172.60.6.67:8092"/>
  </appSettings>
</configuration>